html {
    line-height: 1.15; /* Correct the line height in all browsers */
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
}

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    min-width: 1000px;
}

.nav-bar-container {
    display: flex;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    border: #000000 solid 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    box-shadow: 0 1px 2px 0;
    background-color: #2f3542;
}

.nav-bar-container > .nav-bar-info {
    display: flex;
    flex: 1 1 auto;
    width: 240px; 
}

.nav-bar-container > .nav-bar-info > .nav-bar-info-avatar {
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    margin: 10px 20px;
    border-radius: 50%;
    border: #70a1ff solid 2px;
    box-shadow: 1px;
    background-color: #cccccc;
}

.nav-bar-container > .nav-bar-info > .nav-bar-info-avatar > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: #cccccc; */
}

.nav-bar-container > .nav-bar-info > .nav-bar-info-short {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    width: 60%;
    height: 100%;
}

.nav-bar-container > .nav-bar-info > .nav-bar-info-short > .nav-bar-info-nickname {
    flex: 0 1 auto;
    width: 100%;
    color:#ced6e0;
    margin: 0 auto;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
}

.nav-bar-container > .nav-bar-info > .nav-bar-info-short > .nav-bar-info-location {
    flex: 0 1 auto;
    height: 25%;
    width: 100%;
    padding: 3px 3px;
    margin: 0 auto;
    color: #dfe4ea;
}

.nav-bar-container > .nav-bar-info > .nav-bar-info-short > .nav-bar-info-location > p {
    display: inline;
    padding: 3px 0;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    color: #ced6e0;
    text-align: left;
}

ul.nav-bar-content {
    display: inline;
    flex: 0 1 auto;
    width: 760px;
    padding: 0 0 0 20px;
    margin: 15px 0 10px 0;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;
    border-left: 3px solid;
    border-color: #cccccc;
}

ul.nav-bar-content > li {
    margin: 12px;
    display: inline;
}

ul.nav-bar-content > li > a {
    text-decoration: none;
    padding: 5px 0 30px 0;
    border: transparent solid 4px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

ul.nav-bar-content > li > a:hover {
    text-decoration: none;
    border:#dfe4ea solid 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

ul.nav-bar-content > li > a:active {
    text-decoration: none;
    border:#dfe4ea solid 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

div.hidden-search-bar-container {
    flex: 0 1 auto;
    padding-right: 20px;
    text-align: right;
    width: 250px;
    margin: auto;
    white-space: nowrap;
}

div.hidden-search-bar {
    display: inline-block;
    text-align: right;
    border: transparent solid 2px;
    padding: 10px;
    border-radius: 18px;
    transition: 0.5s;
}

div.hidden-search-bar:hover, div.hidden-search-bar:focus-within {
    background-color: #ffffff;
    border: #ffffff solid 2px;
    color: #ffffff;
}

div.hidden-search-bar:hover > .hidden-search-input,
div.hidden-search-bar:focus-within > .hidden-search-input {
    color: #000000;
    width: 110px;
}

div.hidden-search-bar > span.hidden-search-button {
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

div.hidden-search-bar > span.hidden-clear-button {
    color: #000000;
    opacity: 0;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

div.hidden-search-bar:hover > .hidden-search-input:valid~ span.hidden-clear-button,
div.hidden-search-bar:focus-within > .hidden-search-input:valid ~ span.hidden-clear-button {
    opacity: 1;
}

div.hidden-search-bar:hover > span.hidden-search-button,
div.hidden-search-bar:focus-within > .hidden-search-button {
    color: #000000;
}

div.hidden-search-bar > .hidden-search-input {
    background: transparent;
    border: none;
    width: 0px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    transition: 0.5s;
    animation-direction: reverse;
}

.content-container {
    display: flex;
    max-width: 1200px;
    min-width: 1000px;
    margin: 50px auto;
}

.full-info {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    width: 220px;
    height: 390px;
    /* border: #000000 1px solid; */
}

.full-info > .full-info-avatar {
    flex: 0 1 auto;
    width: 120px;
    height: 120px;
    margin: 15px 40px 8px 40px;
    border-radius: 50%;
    background: #cccccc;
    box-shadow: 1px 1px 7px; 
}

.full-info > .full-info-avatar > img {
    width: 120px;
    border-radius: 50%;
}

.full-info > ul.full-info-content {
    flex: 1 0 auto;
    width: 180px;
    margin: 5px 10px 12px 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.full-info > ul.full-info-content > div {
    flex: 0 1 auto;
    text-align: center;
    /* background-color: #cccccc; */
    margin: 1px auto;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.full-info > ul.full-info-content > div.full-info-content-nickname {
    /* flex:  0 auto; */
    font-size: 20px;
    font-weight: 600;
}

.full-info > ul.full-info-content > div.full-info-content-name {
    /* flex: 1 0 auto; */
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}

.full-info > ul.full-info-content > div.full-info-content-location {
    /* flex: 1 0 auto; */
    padding: 20px 0 0 0;
    font-weight: 600;
}

.full-info > ul.full-info-content > div.full-info-content-status {
    /* flex: 1 0 auto; */
    font-family: 'Chilanka', cursive;
    font-weight: 600;
}

.full-info > ul.full-info-content > div.full-info-content-github {
    /* flex: 1 0 auto; */
    padding: 10px 0 5px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

.full-info > ul.full-info-content > div.full-info-content-github > span {
    /* flex: 1 0 auto; */
    font-size: 12px;
    font-weight: 600;
    padding: 1px 5px 3px 5px;
    border: 1.2px solid rgba(27,31,35,.2);
    border-radius: .35em;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    vertical-align:middle;
}

.full-info > ul.full-info-content > div.full-info-content-github 
> .fab.fa-github {
    /* flex: 1 0 auto; */
    border: none;
    vertical-align:middle;
    margin: 0 3px 0 0;
}

.full-info > ul.full-info-content > div.full-info-content-github > span:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.35);
    cursor: pointer;
}

.full-info > ul.full-info-content > div.full-info-content-contact {
    /* flex: 1 0 auto; */
    font-size: 20px;
    align-items: center;
    margin: 2px 0;
}

.full-info > ul.full-info-content > div.full-info-content-contact > span{
    /* flex: 1 0 auto; */
    margin: 0 3px;
    padding: 0 4px;
}

.full-info > ul.full-info-content > div.full-info-content-contact > span:hover{
    /* flex: 1 0 auto; */
    color: #fafbfc;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}

.main-content-container {
    flex: 1 1 auto;
    min-height: 1200px;
    max-width: 860px;
    border-radius: 10px;
    margin: 0 30px 0 10px;
    /* border: #ffffff 5px solid; */
    /* box-shadow: 1px 1px 8px; */
    color: #000000;
    padding: 0px 30px;
    line-height: 1.4;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.main-content-container > h1 {
    margin-top: 0;
}

pre, code {
    background-color: #f0f3f6;
    padding: 10px;
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 500;
    display: block;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* TODO: change SVG */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.nav-bar-info > svg {
    /* position: absolute; */
    height: 80px;
}

.nav-bar-info > svg > .text {
    text-transform: uppercase;
    fill: none;
    stroke-width: 0.5px;
    stroke-dasharray: 20 75;
}

.nav-bar-info > svg > .text:nth-child(4n + 1) {
    stroke: #81ecec;
    text-shadow: 0 0 5px #81ecec;
    animation: stroke-0 8s -2s linear infinite forwards ;  
}

.nav-bar-info > svg > .text:nth-child(4n + 2) {
    stroke: #dfe6e9;
    text-shadow: 0 0 5px #fd79a8;
    animation: stroke-0 8s -4s linear infinite forwards;
}

.nav-bar-info > svg > .text:nth-child(4n + 3) {
    stroke: #74b9ff;
    animation: stroke-0 8s -6s linear infinite forwards;
}

.nav-bar-info > svg > .text:nth-child(4n + 4) {
    stroke: #ffeaa7;
    animation: stroke-0 8s -8s linear infinite forwards;
}


@keyframes stroke-0 {
    100% {
        stroke-dashoffset: -95;
    }
}